src/main/app/central-directory-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <apikit:config name="central-directory-api-config" raml="central-directory-api.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="central-directory-api-main">
        <http:listener config-ref="api-httpListenerConfig" path="${dfsp-directory-gateway-service.basePath}/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="central-directory-api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="central-directory-api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="central-directory-api-console">
        <http:listener config-ref="api-httpListenerConfig" path="${dfsp-directory-gateway-service.basePath}/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="central-directory-api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/:central-directory-api-config">
        <logger level="INFO"
                message="Processing request for get:/:central-directory-api-config"
                category="com.l1p.interop.dfsp.directory.metadata" doc:name="logger"/>
        <flow-ref name="get-metadata" doc:name="get-metadata"/>
        <logger level="INFO"
                message="Processed request for get:/:central-directory-api-config"
                category="com.l1p.interop.dfsp.directory.metadata" doc:name="logger"/>
    </flow>
    <flow name="get:/identifier-types:central-directory-api-config">
        <logger level="INFO"
                message="Processing request for get:/identifier-types:central-directory-api-config"
                category="com.l1p.interop.dfsp.directory.identifier-types" doc:name="logger"/>
        <flow-ref name="get-identifier-types" doc:name="get-identifier-types"/>
        <logger level="INFO"
                message="Processing request for get:/identifier-types:central-directory-api-config"
                category="com.l1p.interop.dfsp.directory.identifier-types" doc:name="logger"/>
    </flow>
    <flow name="get:/resources:central-directory-api-config">
        <logger level="INFO"
                message="Processing request for get:/resources:central-directory-api-config"
                category="com.l1p.interop.dfsp.directory.resources" doc:name="logger"/>
        <flow-ref name="get-resources" doc:name="get-resources"/>
        <logger level="INFO"
                message="Processing request for get:/resources:central-directory-api-config"
                category="com.l1p.interop.dfsp.directory.resources" doc:name="logger"/>
    </flow>
    <flow name="post:/commands/register:application/json:central-directory-api-config">
        <logger level="INFO"
                message="Processing request for post:/commands/register:application/json:central-directory-api-config, payload=#[payload]"
                category="com.l1p.interop.dfsp.directory.register" doc:name="logger"/>
        <flow-ref name="register-dfsp" doc:name="register-dfsp"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <logger level="INFO"
                message="Processing request for post:/commands/register:application/json:central-directory-api-config"
                category="com.l1p.interop.dfsp.directory.resgister" doc:name="logger"/>
    </flow>
    <apikit:mapping-exception-strategy name="central-directory-api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
