src/main/app/interop-dfsp-directory.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <spring:beans>
        <spring:bean id="AccountDataStore" name="AccountDataStore" class="com.l1p.interop.dfsp.directory.AccountDataStore" scope="singleton"/>
        <spring:bean id="AddAccountsProcessor" name="AddAccountsProcessor" class="com.l1p.interop.dfsp.directory.AddAccountsProcessor">
            <spring:constructor-arg index="0" ref="AccountDataStore"/>
        </spring:bean>
        <spring:bean id="getAccountTransformer" name="getAccountTransformer" class="com.l1p.interop.dfsp.directory.GetAccountTransformer">
            <spring:constructor-arg index="0" ref="AccountDataStore"/>
        </spring:bean>
    </spring:beans>

	<!--<description>
        - Contains flows for handling the following api messages
            - /user/get
                Method to query user information from the central directory gateway.  This is temporarily supported
                by a local cache of directory information that can be populated by the /user/add method

            - /user/add
                Method to support adding account data to the gateway to support testing.  This is not an official method
                of the DFSPDirectoryGateway API
    </description> -->

    <flow name="post:/user/add:application/json:api-config">
        <json:json-to-object-transformer returnClass="java.util.Map" doc:name="json-to-object"/>
        <logger level="INFO"
	        	message="Processing request for post:/user/add, interopID=#[sessionVars.interopID] payload=#[payload]"
	        	category="com.l1p.interop.dfsp.directory.userAdd" doc:name="logger"/>
        <component doc:name="java-add-accounts"><spring-object bean="AddAccountsProcessor" /></component>
        <logger level="INFO"
		        message="Processing complete for post:/user/add, interopID=#[sessionVars.interopID], payload=#[payload]"
		        category="com.l1p.interop.dfsp.directory.userAdd" doc:name="logger"/>
        <logger level="INFO"
                message="----------------------------------------"
                category="com.l1p.interop.dfsp.directory.userAdd" doc:name="Logger"/>
    </flow>

    <flow name="post:/user/get:application/json:api-config">
        <json:json-to-object-transformer returnClass="java.util.Map" doc:name="json-to-object"/>
        <set-session-variable variableName="id" value="#[payload.id]" doc:name="set-id" />
        <logger level="INFO"
        		message="Processing request for post:/user/get, interopID=#[sessionVars.interopID], payload=#[payload]"
        		category="com.l1p.interop.dfsp.directory.userGet" doc:name="logger"/>
        <transformer ref="getAccountTransformer" doc:name="java-get-account-transformer"/>
        <logger level="INFO"
        		message="Processing complete for post:/user/get, interopID=#[sessionVars.interopID], payload=#[payload]"
        		category="com.l1p.interop.dfsp.directory.userGet" doc:name="logger"/>
        <logger level="INFO"
                message="----------------------------------------"
                category="com.l1p.interop.dfsp.directory.userGet" doc:name="Logger"/>
    </flow>

</mule>
