src/main/app/interop-dfsp-directory-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:metrics="http://www.mulesoft.org/schema/mule/metrics"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/metrics http://www.mulesoft.org/schema/mule/metrics/current/mule-metrics.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd
        http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
        http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <description>
        - Receives and routes DFSP Directory Gateway API requests
        - Base http listener received all requests sent to /directory/*
    </description>

    <!-- metrics config -->
    <spring:beans>
        <spring:bean id="metricRegistry" scope="singleton" class="com.codahale.metrics.MetricRegistry"/>
        <spring:bean id="consoleReporter" class="com.l1p.interop.mule.connector.metrics.spring.ReporterFactory" factory-method="createConsoleReporter">
            <spring:constructor-arg ref="metricRegistry"/>
        </spring:bean>
        <spring:bean id="slf4jReporter" class="com.l1p.interop.mule.connector.metrics.spring.ReporterFactory" factory-method="createSlf4jReporter">
            <spring:constructor-arg ref="metricRegistry"/>
        </spring:bean>
        <spring:bean id="kafkaProducer" class="com.l1p.interop.mule.connector.metrics.reporter.MetricKafkaProducer" >
            <spring:constructor-arg value="ec2-52-26-168-223.us-west-2.compute.amazonaws.com:9092"/> <!-- servers -->
            <spring:constructor-arg value="main-test"/> <!-- client id -->
        </spring:bean>
        <spring:bean id="kafkaReporter" class="com.l1p.interop.mule.connector.metrics.spring.ReporterFactory" factory-method="createKafkaReporter">
            <spring:constructor-arg ref="metricRegistry"/>
            <spring:constructor-arg value="bmgf.metric.20160915"/><!-- kafkaTopic -->
            <spring:constructor-arg ref="kafkaProducer"/><!-- kafka producer -->
            <spring:constructor-arg value="dev"/><!-- env -->
            <spring:constructor-arg value="interop-dfsp-services"/><!-- app -->
        </spring:bean>
        <util:list id="scheduledReporters">
            <!--<spring:ref bean="consoleReporter" />-->
            <spring:ref bean="slf4jReporter" />
            <spring:ref bean="kafkaReporter" />
        </util:list>
    </spring:beans>
    <metrics:config name="metricsConfig" metricRegistry-ref="metricRegistry" reporterInterval="5" doc:name="Metrics: Metric Connector Configuration">
        <metrics:scheduled-reporters ref="scheduledReporters" />
    </metrics:config>

    <!-- Import common xml file that imports properties files at various levels -->
	<spring:beans>
		<spring:import resource="classpath:services-common.xml" />
	</spring:beans>

    <spring:beans>
        <spring:bean id="ExceptionTransformer" name="ExceptionTransformer" class="com.l1p.interop.L1PExceptionTransformer"/>
    </spring:beans>

	<apikit:config name="api-config" raml="directory.user.raml" consoleEnabled="false" doc:name="Router" />

    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="${dfsp-proxy-service.basePath}*" doc:name="HTTP"/>
        <set-session-variable variableName="interopID" value="#[java.util.UUID.randomUUID()]" doc:name="set-interopID"/>
        <logger level="INFO"
                message="Received request for interopID=#[sessionVars.interopID] at path=#[message.inboundProperties.'http.request.path']"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="${dfspConsolePath}/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>

    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <metrics:inc-count config-ref="metricsConfig" category="l1p.dfsp.directory.api.error"  doc:name="metrics-count">
                <metrics:metric-keys><metrics:metric-key>ResourceNotFound</metrics:metric-key></metrics:metric-keys>
            </metrics:inc-count>
            <set-session-variable variableName="errorMessageId" value="Resource not found" doc:name="set-errorMessageId"/>
            <transformer ref="ExceptionTransformer" doc:name="ExceptionTransformer"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <metrics:inc-count config-ref="metricsConfig" category="l1p.dfsp.directory.api.error">
                <metrics:metric-keys><metrics:metric-key>MethodNotAllowed</metrics:metric-key></metrics:metric-keys>
            </metrics:inc-count>
            <set-session-variable variableName="errorMessageId" value="Method Not Allowed" doc:name="set-errorMessageId"/>
            <transformer ref="ExceptionTransformer" doc:name="ExceptionTransformer"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <metrics:inc-count config-ref="metricsConfig" category="l1p.dfsp.directory.api.error">
                <metrics:metric-keys><metrics:metric-key>UnsupportedMediaType</metrics:metric-key></metrics:metric-keys>
            </metrics:inc-count>
            <set-session-variable variableName="errorMessageId" value="Unsupported MediaType" doc:name="set-errorMessageId"/>
            <transformer ref="ExceptionTransformer" doc:name="ExceptionTransformer"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <metrics:inc-count config-ref="metricsConfig" category="l1p.dfsp.directory.api.error">
                <metrics:metric-keys><metrics:metric-key>NotAcceptable</metrics:metric-key></metrics:metric-keys>
            </metrics:inc-count>
            <set-session-variable variableName="errorMessageId" value="Not Acceptable" doc:name="set-errorMessageId"/>
            <transformer ref="ExceptionTransformer" doc:name="ExceptionTransformer"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <metrics:inc-count config-ref="metricsConfig" category="l1p.dfsp.directory.api.error">
                <metrics:metric-keys><metrics:metric-key>BadRequest</metrics:metric-key></metrics:metric-keys>
            </metrics:inc-count>
            <set-session-variable variableName="errorMessageId" value="Bad request" doc:name="set-errorMessageId"/>
            <transformer ref="ExceptionTransformer" doc:name="ExceptionTransformer"/>
        </apikit:mapping>
        <apikit:mapping statusCode="500">
            <apikit:exception value="org.mule.api.transformer.TransformerMessagingException" />
            <metrics:inc-count config-ref="metricsConfig" category="l1p.dfsp.directory.api.error">
                <metrics:metric-keys><metrics:metric-key>TransformationException</metrics:metric-key></metrics:metric-keys>
            </metrics:inc-count>
            <set-session-variable variableName="errorMessageId" value="Transformer Messaging Exception" doc:name="set-errorMessageId"/>
            <transformer ref="ExceptionTransformer" doc:name="ExceptionTransformer"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>

</mule>
