src/main/app/interop-dfsp-directory.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:metrics="http://www.mulesoft.org/schema/mule/metrics"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/metrics http://www.mulesoft.org/schema/mule/metrics/current/mule-metrics.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    
    <!--
    Contains flows for handling the following api messages
            - /user/get
                Method to query user information from the central directory gateway.  This is temporarily supported
                by a local cache of directory information that can be populated by the /user/add method

            - /user/add
                Method to support adding account data to the gateway to support testing.  This is not an official method
                of the DFSPDirectoryGateway API
    -->

	<!-- DFSP HTTP configuration for making REST call to the mock service -->
	<http:request-config  name="DFSP_Gateway_Configuration" host="${directory-service.host}" port="${directory-service.port}" basePath="${directory-service.basePath}" doc:name="HTTP Request Configuration"/>

    <flow name="post:/user/add:application/json:api-config">
        <metrics:snap-time config-ref="metricsConfig" snapTimeKey="user.add.start" doc:name="SnapTime"/>
        <logger level="INFO"
	        	message="Processing request for post:/user/add, interopID=#[sessionVars.interopID] payload=#[payload]"
	        	category="com.l1p.interop.dfsp.directory.userAdd" doc:name="logger"/>
        <metrics:snap-time config-ref="metricsConfig" snapTimeKey="user.add.proxy-start" doc:name="SnapTime"/>
        <http:request config-ref="DFSP_Gateway_Configuration" path="/user/add" method="POST" doc:name="HTTP"/>
        <logger level="INFO"
		        message="Processing complete for post:/user/add, interopID=#[sessionVars.interopID], payload=#[payload]"
		        category="com.l1p.interop.dfsp.directory.userAdd" doc:name="logger"/>
        <metrics:snap-time config-ref="metricsConfig" snapTimeKey="user.add.stop" doc:name="SnapTime"/>
        <metrics:time config-ref="metricsConfig" beginSnapKey="user.add.start" endSnapKey="user.add.stop" category="l1p.dfsp.directory.api" metricKey="AddUserTime" doc:name="Metrics Record"/>
        <metrics:time config-ref="metricsConfig" beginSnapKey="user.add.proxy-start" endSnapKey="user.add.stop" category="l1p.dfsp.directory.api" metricKey="AddUserProxyTime" doc:name="Metrics Record"/>
        <metrics:inc-count config-ref="metricsConfig" category="l1p.dfsp.directory.api" doc:name="metrics-count">
            <metrics:metric-keys><metrics:metric-key>AddUserRequest</metrics:metric-key></metrics:metric-keys>
        </metrics:inc-count>
    </flow>

    <flow name="post:/user/get:application/json:api-config">
        <metrics:snap-time config-ref="metricsConfig" snapTimeKey="user.get.start" doc:name="SnapTime"/>
        <logger level="INFO"
        		message="Processing request for post:/user/get, interopID=#[sessionVars.interopID], payload=#[payload]"
        		category="com.l1p.interop.dfsp.directory.userGet" doc:name="logger"/>
        <metrics:snap-time config-ref="metricsConfig" snapTimeKey="user.get.proxy-start" doc:name="SnapTime"/>
        <http:request config-ref="DFSP_Gateway_Configuration" path="/user/get" method="POST" doc:name="HTTP"/>
        <logger level="INFO"
        		message="Processing complete for post:/user/get, interopID=#[sessionVars.interopID], payload=#[payload]"
        		category="com.l1p.interop.dfsp.directory.userGet" doc:name="logger"/>
        <metrics:snap-time config-ref="metricsConfig" snapTimeKey="user.get.stop" doc:name="SnapTime"/>
        <metrics:time config-ref="metricsConfig" beginSnapKey="user.get.start" endSnapKey="user.get.stop" category="l1p.dfsp.directory.api" metricKey="GetUserTime" doc:name="Metrics Record"/>
        <metrics:time config-ref="metricsConfig" beginSnapKey="user.get.proxy-start" endSnapKey="user.get.stop" category="l1p.dfsp.directory.api" metricKey="GetUserProxyTime" doc:name="Metrics Record"/>
        <metrics:inc-count config-ref="metricsConfig" category="l1p.dfsp.directory.api"  doc:name="metrics-count">
            <metrics:metric-keys><metrics:metric-key>GetUserRequest</metrics:metric-key></metrics:metric-keys>
        </metrics:inc-count>
    </flow>

</mule>
