src/main/app/interop-dfsp-directory.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:request-config name="DFSP_Gateway_Configuration" host="${client-service.host}" port="${client-service.port}" basePath="${client-service.basePath}" doc:name="HTTP Request Configuration"/>

	<!-- <description>
        - Contains flows for handling the following api messages
            - /user/get
                Method to query user information from the central directory gateway.  This is temporarily supported
                by a local cache of directory information that can be populated by the /user/add method

            - /user/add
                Method to support adding account data to the gateway to support testing.  This is not an official method
                of the DFSPDirectoryGateway API
    </description> -->

    <flow name="post:/user/add:application/json:api-config">
        <logger level="INFO"
	        	message="Processing request for post:/user/add, interopID=#[sessionVars.interopID] payload=#[payload]"
	        	category="com.l1p.interop.dfsp.directory.userAdd" doc:name="logger"/>
        <http:request config-ref="DFSP_Gateway_Configuration" path="${addUserPath}" method="POST" doc:name="HTTP"/>
        <logger level="INFO"
		        message="Processing complete for post:/user/add, interopID=#[sessionVars.interopID], payload=#[payload]"
		        category="com.l1p.interop.dfsp.directory.userAdd" doc:name="logger"/>
    </flow>

    <flow name="post:/user/get:application/json:api-config">
        <logger level="INFO"
        		message="Processing request for post:/user/get, interopID=#[sessionVars.interopID], payload=#[payload]"
        		category="com.l1p.interop.dfsp.directory.userGet" doc:name="logger"/>
        <http:request config-ref="DFSP_Gateway_Configuration" path="${getUserPath}" method="POST" doc:name="HTTP"/>
        <logger level="INFO"
        		message="Processing complete for post:/user/get, interopID=#[sessionVars.interopID], payload=#[payload]"
        		category="com.l1p.interop.dfsp.directory.userGet" doc:name="logger"/>
    </flow>

</mule>
