src/main/app/user-registration-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    
    <apikit:config name="user-registration-api-config" raml="user-registration-api.raml" consoleEnabled="false" doc:name="Router"/>

    <http:request-config  name="user-registration-http-config" host="${user-registration.host}" port="${user-registration.port}" basePath="/" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="user-registration-api.raml"/>
    </http:request-config>
    
    <flow name="user-registration-api-main">
        <http:listener config-ref="api-httpListenerConfig" path="${dfsp-directory-gateway-service.basePath}/user-registration/*" doc:name="HTTP"/>
        <set-session-variable variableName="L1p-Trace-Id" value="#[ (message.inboundProperties.'L1p-Trace-Id' == null) ? java.util.UUID.randomUUID() : message.inboundProperties.'L1p-Trace-Id']" doc:name="set-L1p-Trace-Id"/>
        <logger level="INFO"
                message="Received request for L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id'] at path=#[message.inboundProperties.'http.request.path']"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <apikit:router config-ref="user-registration-api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="user-registration-api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    
    <flow name="user-registration-api-console">
        <http:listener config-ref="api-httpListenerConfig" path="${dfsp-directory-gateway-service.basePath}/user-registration/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="user-registration-api-config" doc:name="APIkit Console"/>
    </flow>

    <flow name="get:/:user-registration-api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/users/{number}:user-registration-api-config">
        <http:request config-ref="user-registration-http-config" path="/users/{number}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="number" value="#[message.inboundProperties.'http.uri.params'.number]"/>
            </http:request-builder>
		    <http:success-status-code-validator values="200..599"/>
        </http:request>
        <set-property propertyName="http.status" value="#[message.inboundProperties.'http.status']" doc:name="Property"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
    </flow>
    <flow name="post:/users:application/json:user-registration-api-config">
        <http:request config-ref="user-registration-http-config" path="/users" method="POST" doc:name="HTTP">
		    <http:success-status-code-validator values="200..599"/>
        </http:request>
        <set-property propertyName="http.status" value="#[message.inboundProperties.'http.status']" doc:name="Property"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
    </flow>
    <apikit:mapping-exception-strategy name="user-registration-api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
