src/main/app/user-registration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">

	<http:request-config  name="user-registration-http-config" host="${user-registration.host}" port="${user-registration.port}" basePath="/" doc:name="HTTP Request Configuration"/>


    <flow name="get:/:user-registration-api-config">
        <http:listener config-ref="api-httpListenerConfig" path="${dfsp-directory-gateway-service.basePath}/user-registration/" doc:name="HTTP"/>
        <flow-ref name="common-user-registration_Flow" doc:name="common-user-registration_Flow"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
        <exception-strategy ref="common_Catch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    
    <flow name="get:/users/{number}:user-registration-api-config">
        <http:listener config-ref="api-httpListenerConfig" path="${dfsp-directory-gateway-service.basePath}/user-registration/users/{number}" doc:name="HTTP"/>
        <flow-ref name="common-user-registration_Flow" doc:name="common-user-registration_Flow"/>
        <http:request config-ref="user-registration-http-config" path="/users/{number}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="number" value="#[message.inboundProperties.'http.uri.params'.number]"/>
            </http:request-builder>
		    <http:success-status-code-validator values="200..599"/>
        </http:request>
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <set-property propertyName="http.status" value="#[message.inboundProperties.'http.status']" doc:name="Property"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <exception-strategy ref="common_Catch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    
    <flow name="post:/users:application/json:user-registration-api-config">
        <http:listener config-ref="api-httpListenerConfig" path="${dfsp-directory-gateway-service.basePath}/user-registration/users" doc:name="HTTP"/>
        <flow-ref name="common-user-registration_Flow" doc:name="common-user-registration_Flow"/>
    	<logger level="INFO"
                message="Proxying request for L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id'] to host=${user-registration.host}:${user-registration.port}/users payload=#[message.payloadAs(java.lang.String)]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <http:request config-ref="user-registration-http-config" path="/users" method="POST" doc:name="HTTP">
		    <http:success-status-code-validator values="200..599"/>
        </http:request>
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <set-property propertyName="http.status" value="#[message.inboundProperties.'http.status']" doc:name="Property"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <logger level="INFO"
                message="Returning response for L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id'], http.status=#[message.inboundProperties.'http.status']: #[payload]"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <exception-strategy ref="common_Catch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>

    <sub-flow name="common-user-registration_Flow">
        <set-session-variable variableName="L1p-Trace-Id" value="#[ (message.inboundProperties.'L1p-Trace-Id' == null) ? java.util.UUID.randomUUID() : message.inboundProperties.'L1p-Trace-Id']" doc:name="set-L1p-Trace-Id"/>
        <logger level="INFO"
                message="Received request for L1p-Trace-Id=#[sessionVars.'L1p-Trace-Id'] at path=#[message.inboundProperties.'http.request.path']"
                category="com.l1p.interop.dfsp.api-main" doc:name="logger"/>
        <object-to-string-transformer doc:name="Object to String"/>
    </sub-flow>

</mule>
