DFSPDirectoryGateway/src/main/app/DFSPDirectoryGateway.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                          http://www.mulesoft.org/schema/mule/json  http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
                          http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
                          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <description>
        - Contains flows for handling the following api messages
            - /user/get
                Method to query user information from the central directory gateway.  This is temporarily supported
                by a local cache of directory information that can be populated by the /user/add method

            - /user/add
                Method to support adding account data to the gateway to support testing.  This is not an official method
                of the DFSPDirectoryGateway API
    </description>

    <spring:bean id="AccountDataStore" name="AccountDataStore" scope="singleton" class="com.l1p.interop.dfsp.directory.AccountDataStore"/>
    <spring:bean id="AddAccountsProcessor" name="AddAccountsProcessor" class="com.l1p.interop.dfsp.directory.AddAccountsProcessor">
        <spring:constructor-arg index="0" ref="AccountDataStore" />
    </spring:bean>
    <spring:bean id="getAccountTransformer" name="getAccountTransformer" class="com.l1p.interop.dfsp.directory.GetAccountTransformer">
        <spring:constructor-arg index="0" ref="AccountDataStore" />
    </spring:bean>


    <flow name="post:/user/add:application/json:api-config">
        <logger message="received request to add users: #[payload]" level="INFO" category="com.l1p.interop.dfsp.directory" doc:name="Logger"/>
        <json:json-to-object-transformer returnClass="java.util.Map" doc:name="JSON to Object"/>
        <component doc:name="Java"><spring-object bean="AddAccountsProcessor" /></component>
        <logger message="processing complete: #[payload]" level="INFO" category="com.l1p.interop.dfsp.directory" doc:name="Logger"/>
    </flow>

    <flow name="post:/user/get:application/json:api-config">
        <logger message="received request to get user: #[payload]" level="INFO" doc:name="Logger"/>
        <json:json-to-object-transformer returnClass="java.util.Map" doc:name="JSON to Object"/>
        <transformer ref="getAccountTransformer" doc:name="getAccountTransformer"/>
        <logger message="payload: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>

</mule>
